/* General CSS */

.container {
	width:960px;
}



/* Navigation Bar */

.navigation {
	background-color: rgba(255, 255, 255, 0.9);
	border-bottom: 1px solid #dddddd;
	height: 80px;
	font-family: "futura-bold", sans-serif;
	font-size: 20px;
	
	padding:5px;
	
}

.navigation .name-panel {
	font-size: 24px;
	
	
}

.navigation .name-panel {
	color:#555555;
}

.navigation .home-menu {
	float:left;
	list-style: none;
 	margin-top: 0px; 
}

.home-menu > li {
	display: inline;
	padding-left:20px;
	padding-right:20px;
}

.name-panel a {
	color: #555555;
}

.navigation .menu {
	float:right;
	list-style: none;
	margin-top: 5px;
}

.navigation .container {
	display:inline;
}

.menu > li {
	display: inline;
	padding-left:20px;
	padding-right:20px;
}

.menu a {
	color: #888888;
}



/* Content */
.content {
	padding-left:20%;
	padding-right:20%;
    
}

.content h2 {
	text-align:center;
	text-decoration:underline;
	color: #555555;
}

.content p {
	color: #555555;
}

.content a {
	color: #888888;
}

.content img {
    display: block;
    margin: 0 auto;
}

